
[flake8]
max-line-length = 88
extend-ignore = E203
; exclude = .git,__pycache__,docs/source/conf.py,old,build,dist # default excludes
exclude = .git,__pycache__,docs/source/conf.py,old,build,dist,.venv
